/* Quick reset */
* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Cormorant Garamond", serif;
}

h2 {
  font-size: 3.2rem;
  max-width: 20rem;
}

.container {
  height: 300vh;
  position: relative;
}

.inner {
  position: relative;
  height: 100vh;

  &.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }

  &.stay {
    position: absolute;
    top: initial;
    bottom: 0;
    left: 0;
  }
}

/* All slides */
.container .slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr;

  .content {
    display: flex;
    justify-content: center;
    align-items: center;

    > div {
      opacity: 1;
      transform: translateY(0);

      &.hide {
        opacity: 0;
      }
    }
  }
}

/* Hero 1 */
.container .slide:nth-child(1) {
  .content {
    > div {
      transition: opacity 1s 0.7s ease-out, transform 1s 0.7s ease-out;

      &.hide {
        transform: translateY(2rem);
        transition: opacity 0.5s ease-out, transform 0.5s ease-out;
      }
    }
  }

  .image {
    background-image: url(https://images.unsplash.com/photo-1599243173321-45f03e5520cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2134&q=80);
    background-size: cover;
    background-position: center;
  }
}

/* Hero 2 */
.container .slide:nth-child(2) {
  .content {
    > div {
      transition: opacity 1s 0.7s ease-out, transform 1s 0.7s ease-out;

      &.hide {
        transform: translateY(2rem);
        transition: opacity 0.5s ease-out, transform 0.5s ease-out;
      }
    }
  }

  .image {
    background-image: url(https://images.unsplash.com/photo-1593642532781-03e79bf5bec2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2134&q=80);
    background-size: cover;
    background-position: center;
    filter: grayscale(100%);
    opacity: 0;

    // transform: translateX(100%);
    // transition: transform 1.3s 0.2s cubic-bezier(0.5, 1, 0.89, 1);
    transition: opacity 1s cubic-bezier(0.5, 1, 0.89, 1);

    &.reveal {
      opacity: 1;
      // transform: translateX(0);
    }
  }
}

/* Temporary */
.fake-content {
  height: 70vh;
  background: #232323;
}
